<div class="infoBox center">
    <div>{{product.name}}</div>
    <div>{{product.short_description}}</div>
    <br/>
    <div>{{product.long_description}}</div> 
    <br/>
    <div>{{product.price}}лв.</div>
    <br/>
    <img src="{{product.image_url}}" alt="Phone Image">
    <br/>
    <h3>Поръчай:</h3>
    <form id="purchasingForm" action="newOrder/{{product.id}}"method="POST">
        <label>Име:</label>
        <input type="text" name="name">
        <label>Адрес:</label>
        <input type="text" name="address">
        <input type="submit" value="Поръчай">
    </form>
    {{#if successMessage}}
    <h3>{{successMessage}}</h3>
    {{/if}}
</div>

<div>
    <ul id="reviews">
        {{#each reviews}}
        <li>
            {{this.text}}
        </li>
        {{/each}}
    </ul>
</div>

<form id="reviewForm" action="newReview/{{product.id}}" method="POST">
    <input type="text" name="review">
    <input type="submit" value="Публикувай ревю"/>
</form>
